.playpage--flex-column {
  display: flex;
  flex-direction: column;
}
.playpage__title {
  display: block;

  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
  color: rgb(3, 3, 3);

  font-size: 18px;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}
.playpage__minitext {
  padding-bottom: 8px;
  display: inline-block;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.playpage__desc {
  justify-content: space-between;
  margin-top: 3px;
  padding-right: 3vw;
}
.playpage__icon {
  color: rgb(144, 144, 144);
  cursor: pointer;
  display: block;
  height: 26px !important;
  font-size: 25.3px !important;
  font-weight: 500;

  letter-spacing: 0.5px;
  line-height: 0px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
.playpage--flex-row {
  display: flex;
  flex-direction: row;
}
.playpage {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 5vw;
}
.playpage__left {
  margin-right: 1.8vw;
}
.playpage__sub {
  color: rgb(96, 96, 96);
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 18px;
}
.playpage__minititle {
  color: rgb(3, 3, 3);
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 20px;
}
.hr {
  padding: 16px 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.hr > img {
  margin-right: 12px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.playpage__comment {
  color: rgb(3, 3, 3);
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  padding: 16px;
  text-align: center;
}
.playpage__comment > a {
  color: rgb(6, 95, 212);
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .playpage {
    margin-left: 2px;
  }
}
@media only screen and (max-width: 1315px) {
  .playpage__left > iframe {
    width: 72vw;
    height: 48vw;
  }
}
@media only screen and (max-width: 640px) {
  .playpage__left > iframe {
    width: 84vw;
    height: 48vw;
    margin-left: 10px;
  }
}
