.app {
  display: flex;
  margin-top: 24px;
}
.flex {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-left: 5px;
  flex: auto;
}
a {
  text-decoration: none;
}
.active > div {
  background-color: #e5e5e5;
}
.active > div > div {
  font-weight: 600;
}
.active > div > svg > path {
  color: red;
}
